


.footer{
    background-color: #4C3575;
    width: 100vw;
    height: 120px;
}

.box{
    /* border: 1px solid red; */
    width: 50vw;
    height: 110px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.text{
    display: flex;
    color: white;
    justify-content: space-around;
    font-size: 14px;
}

.text h3{
    cursor: pointer;
}

.last{
    /* border: 1px solid red; */
    display: inline;
    margin: auto;
    color: white;
}